body,
html {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 200;
}

.fadeIn {
    animation: fadeIn 0.5s linear 0s forwards;
}

.fadeOut {
    animation: fadeOut 0.5s linear 0s forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        display: block !important;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        display: block !important;
    }
}

@-moz-keyframes fadeIn {
    0% {
        display: block !important;
        opacity: 0;
        -moz-transform: translate(0, 0);
    }
    100% {
        display: block !important;
        ;
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    0% {
        display: block !important;
        ;
        opacity: 0;
        transform: translate(0, 0);
    }
    100% {
        display: block !important;
        ;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    0% {
        display: block !important;
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
    100% {
        display: none !important;
        opacity: 0;
        -moz-transform: translate(0, 0);
    }
}

@-moz-keyframes fadeOut {
    0% {
        display: block !important;
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
    100% {
        display: none !important;
        opacity: 0;
        -moz-transform: translate(0, 0);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        display: block !important;
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        display: none !important;
        opacity: 0;
        -webkit-transform: translate(0, 0);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin: 0 !important;
}

.border {
    border-color: #363636 !important;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .header-nav {
        position: absolute;
        border-bottom: 1px solid #363636 !important;
        top: 0;
        left: 0;
        width: 100%;
        transition: background-color .5s linear;
        z-index: 1;
        @media only screen and (max-width: 728px) {
            position: fixed;
        }
        &:before {
            z-index: 0;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .75);
        }
        >.container>a:first-child>img {
            position: relative;
            z-index: 1;
            margin: 20px 0;
            width: 75%;
        }
        .mobile-nav {
            display: none;
            width: 25%;
            position: relative;
            z-index: 1;
            justify-content: flex-end;
            align-items: center;
            @media only screen and (max-width: 728px) {
                display: flex;
            }
            img:nth-child(2) {
                display: none;
            }
            img {
                cursor: pointer;
                margin-right: 20px;
                display: block;
                height: 25px;
            }
        }
        .mobile-abs-nav {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: none;
            nav {
                padding-top: 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                background-color: #000000;
                text-align: center;
                a {
                    margin-bottom: 10px;
                    color: #FFFFFF;
                    font-size: 36px;
                    text-decoration: none;
                    font-family: 'Roboto-Bold', sans-serif;
                    &:hover {
                        color: #F29600;
                        cursor: pointer;
                    }
                }
                >.d-flex {
                    svg:first-child {
                        margin-right: 10px;
                    }
                    svg:last-child {
                        margin-left: 10px;
                    }
                    svg {
                        height: 44px;
                    }
                }
            }
        }
        .nav {
            flex-wrap: nowrap;
            @media only screen and (max-width: 728px) {
                display: none;
            }
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            svg {
                height: 30px;
            }
            a:nth-child(4) {
                margin: 0 10px 0 15px;
            }
            a:hover {
                fill: #F29600;
                cursor: pointer;
            }
            a:not(:last-child):not(:nth-child(4)) {
                height: 100%;
                font-family: 'Roboto-Bold', sans-serif;
                font-size: 16px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
                text-decoration: none;
                color: #FFFFFF;
                &:hover {
                    cursor: pointer;
                    background-color: #000000;
                    color: #F29600;
                }
            }
        }
    }
}

#description {
    padding: 20px 0 40px;
    width: 100%;
    .gallery {
        @media only screen and (max-width: 728px) {
            float: left;
            width: 100%;
        }
        float: left;
        width: 50%;
        .main {
            float: left;
            width: 80%;
            @media only screen and (max-width: 728px) {
                width: 100%;
                height: auto;
                padding-top: 20px;
                text-align: center;
            }
            img {
                width: 100%;
                @media only screen and (max-width: 728px) {
                    height: auto;
                    width: 90%;
                }
            }
        }
        .picker {
            width: 20%;
            padding-left: 10px;
            float: right;
            @media only screen and (max-width: 728px) {
                padding: 0;
                float: left !important;
                width: 100%;
                justify-content: center !important;
            }
            img {
                max-width: 100%;
                cursor: pointer;
                height: 93px;
                margin: 5px;
                @media only screen and (max-width: 728px) {
                    float: left !important;
                    height: 140px;
                }
            }
        }
    }
    .heading {
        padding: 0 5px;
        width: 50%;
        float: right;
        @media only screen and (max-width: 728px) {
            padding: 0 15px;
            float: left;
            width: 100%;
        }
        h2 {
            font-family: 'Roboto-Regular', sans-serif;
            letter-spacing: 1px;
            color: #FFFFFF;
            font-size: 46px;
        }
        h3 {
            font-family: 'Roboto-Regular', sans-serif;
            letter-spacing: 1px;
            color: #FF9300;
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            margin-top: 10px;
            font-family: 'Roboto-Regular', sans-serif;
            color: #818181;
            margin-bottom: 10px;
        }
        .color {
            img {
                cursor: pointer;
                height: 50px;
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
    .text {
        float: right;
        width: 50%;
        @media only screen and (max-width: 728px) {
            float: left;
            width: 100%;
        }
        p {
            padding: 0 10px;
            margin-top: 20px !important;
            font-size: 16px;
            font-family: 'Roboto-Regular', sans-serif;
            color: #818181;
            margin-bottom: 10px;
            @media only screen and (max-width: 728px) {
                padding: 5px 15px;
            }
        }
        .info {
            @media only screen and (max-width: 728px) {
                padding: 0;
            }
            p:first-child {
                @media only screen and (max-width: 728px) {
                    padding: 5px 15px;
                }
            }
            .box {
                @media only screen and (max-width: 728px) {
                    align-items: center !important;
                    margin-top: 20px;
                }
                .inner-box {
                    width: 80%;
                    border: 1px solid #707070;
                    p {
                        margin: 2.5px 0 10px !important;
                    }
                    h3 {
                        margin: 0;
                        margin-top: 20px;
                        font-size: 14px;
                        color: #FFFFFF;
                        &:first-child {
                            margin: 0;
                            padding: 10px 5px;
                            background-color: #707070;
                        }
                    }
                }
            }
        }
    }
}

#designed {
    text-align: center;
    padding: 30px 0;
    h2 {
        width: 100%;
        text-align: center;
        font-family: 'Roboto-Regular', sans-serif;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size: 36px;
    }
    h3 {
        width: 100%;
        text-align: center;
        font-family: 'Roboto-Regular', sans-serif;
        letter-spacing: 1px;
        color: #FF9300;
        font-size: 18px;
        margin-bottom: 60px;
        @media only screen and (max-width: 728px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    a {
        vertical-align: bottom;
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto-Bold', sans-serif;
        text-decoration: none;
        color: #FF9300;
        margin-top: 30px;
        border: 1px solid #FF9300;
        padding: 5px 15px;
        transition: all 0.2s ease-in;
        &:hover {
            background-color: #FF9300;
            color: #000000;
        }
    }
    .row {
        display: flex;
        align-items: stretch;
        .design-card {
            margin: 15px 0;
            .inner-card {
                text-align: center;
                border: 1px solid #333333;
                h2 {
                    margin-top: 20px;
                    font-size: 32px;
                    @media only screen and (max-width: 728px) {
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                h3 {
                    margin-top: auto;
                    width: 100%;
                    font-size: 18px;
                    margin-bottom: 20px;
                    @media only screen and (max-width: 728px) {
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

#contact {
    h2 {
        width: 100%;
        text-align: center;
        font-family: 'Roboto-Regular', sans-serif;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size: 36px;
        @media only screen and (max-width: 728px) {
            margin-top: 15px;
        }
    }
    h3 {
        width: 90%;
        margin: 0 auto 30px;
        text-align: center;
        font-family: 'Roboto-Regular', sans-serif;
        letter-spacing: 1px;
        color: #FF9300;
        font-size: 18px;
    }
    a {
        vertical-align: bottom;
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto-Bold', sans-serif;
        text-decoration: none;
        color: #FF9300;
        border: 1px solid #FF9300;
        transition: all 0.2s ease-in;
        &:hover {
            background-color: #FF9300;
            color: #000000;
        }
        padding: 5px 15px;
        @media only screen and (max-width: 728px) {
            font-size: 18px;
            text-align: center;
            padding: 15px 30px;
            width: 70%;
        }
    }
    padding: 30px 0;
    .row {
        .col-md-6 {
            @media only screen and (max-width: 728px) {
                margin: 0;
                padding: 0;
            }
        }
    }
}

footer {
    padding: 30px 0;
    text-align: center;
    p {
        font-size: 16px;
        margin-top: 10px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #818181;
        margin-bottom: 10px;
        width: 80%;
    }
}